<h1>Партнёры</h1>

<h2>Пригласительная ссылка</h2>

<p>Ваша пригласительная ссылка: <input disabled size="50" type="text" value="{{ .inviteURL }}"></p>

<h2>Партнёры</h2>

<p>Всего партнёров: <b>{{ .refsCount }}</b><br>
Активных партнёров: <b>{{ .paidRefs }}</b></p>

{{ range .refs }}
{{ .Name }} <br>
{{ end }}
