{{ define "settings-user" }}
<h2>Настройки инвестора</h2>
<h3>Qiwi-кошелёк</h3>
<form action="">
  <div class="form-group">
    <label for="qiwi_wallet">Номер qiwi-кошелька</label>
    <input class="form-control" type="text" name="qiwi_wallet" id="qiwi_wallet" placeholder="79000000000">
  </div>
  <button class="btn btn-primary">Сохранить</button>
</form>
{{ end }}
