<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Zeus</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>

  <link rel="stylesheet" href="/css/main.min.css">
</head>

<body class="ishome">

	<!-- <div class="preloader"><div class="pulse"></div></div> -->

	<div id="my-page">

		<div id="my-header">
			<header class="my-header">

				<div class="top-line">


					<div class="container">
						<div class="row">

							<div class="b-coin hidden-sm hidden-xs"><img src="img/b-coin1.png" alt="b-coin"></div>

							<div class="logo"><a>Zeus</a></div>

							<a href="#my-menu" class="hamburger hamburgers--emphatic hidden-lg hidden-md">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</a>

							<div class="header-flex">



								<nav class="my-menu hidden-sm hidden-xs">
									<ul class="header-menu">
										<li class="active"><a href="#dop-2" class="m-slide">Описание</a></li>
										<li><a href="#tech" class="t-tech">Технологии и проекты</a></li>
										<li><a href="#advant" class="t-adv">Преимущество</a></li>
										<li><a href="#Tel" class="t-Tel">Telegram</a></li>
										<li><a href="#rf-system" class="t-rf-system">Реф Система</a></li>
										<li><a href="#circ" class="t-circ">Статистика</a></li>
										<li><a href="#faqt" class="t-faqt">faq</a></li>
										<li><a href="#pay" class="t-pay">Оплата</a></li>
									</ul>
								</nav>

							</div>

						</div>
					</div>

				</div>

			</header>
		</div>

		<div id="my-content">

			<section class="first-content-item" id="main-slide">


				<div class="ship" style="background-image: url(img/bg-1.jpg)">

					<div class="container-fluid">
						<div class="row">

							<div class="col-sm-12">
								<div class="content-flex">

									<h1>"<span>Zeus</span> представляет собой ключ к вашему будущему"</h1>
									<h3>"инвестируйе, и зарабатывайте 1% каждый день"</h3>

									<div class="btn">
										<a href="/login" class="button">Инвестировать</a>
									</div>

									<div class="timer-flex">

										<div class="timer-numb">
											<p class="time spincrement">13 160 000</p>
											<span>инвестировано (USD)</span>
										</div>

										<div class="timer-numb">
											<p class="time spincrement">2 021 000</p>
											<span>Выведено (USD)</span>
										</div>

										<div class="timer-numb">
											<p class="time spincrement">713</p>
											<span>инвестировано (USD)</span>
										</div>

										<div class="timer-numb">
											<p class="">216</p>
											<span>инвестировано (USD)</span>
										</div>

									</div>

								</div>

							</div>

						</div>
					</div>

				</div>
			</section>

			<section class="descriptions_of_project-2 desc_of_pr" id="dop-2">

				<img src="img/lmp-2.png" alt="lmp" class="lit-img hidden-md hidden-lg">

				<div class="description">


					<div class="bg-info-1">
						<div class="info-flex">

							<div class="our-deal">Расширяемся и даем возможность здесь
							и сейчас присоединиться к нам и стать частью
							нашей компании и заработать.
								<ul>
									<li>Облачный майнинг</li>
									<li>Криптовалютный трейдинг</li>
									<li>Инвестирование в ICO</li>
								</ul>

							Каждый вид заработка имеет определенную
							степень риска и соответствующую прибыль.</div>

							<img src="img/lmp-2.png" alt="lmp" class="lit-img hidden-sm hidden-xs">

							<div class="img-slide owl-carousel">

								<img src="img/bit-coin.png" alt="bit-coin" class="women img-responsive">
								<img src="img/bit-coin.png" alt="bit-coin" class="women img-responsive">
								<img src="img/bit-coin.png" alt="bit-coin" class="women img-responsive">

							</div>

						</div>

					</div>

					<div class="bg-border">
						<div class="title"><h2 class="h2">Что мы делаем?</h2></div>
					</div>

					<div class="buton">
						<div class="btn">
							<a href="/about/projects" class="button">Узнать о проектах</a>
						</div>
					</div>
				</div>

			</section>


			<section class="technology" id="tech">

				<h2 class="h2">Технологии и проекты</h2>

				<div class="techno">

					<div class="techno-bg"></div>

					<div class="container-fluid">
						<div class="row">
					<!-- slider	 -->
						<div class="owl-carousel tecno-slide hidden-lg hidden-md">

							<div class="techno-info-flex">

								<!-- 1 -->
									<div class="block-i">
										<h5 class="h5">Облачный майнинг </h5>
										<p>
										Проект «АТЛАНТ» предполагает создание на базе читального зала Библиотеки №1 МБУК ЦГБ им.М.Горького лабораторной зоны для занятий естественными науками детей младшего школьного возраста во время летних школьных каникул. Помощь в организации работы по проекту будут оказывать подростки из числа посетителей библиотеки и привлеченные из школьных стройотрядов. </p>
										<h5 class="h5 rate">средний процент: 5% делимся: 2.5% </h5>
									</div>
								<!-- end -->


								<!-- end -->
							</div>

							<div class="techno-info-flex">
								<!-- 2 -->
									<div class="block-i">
										<h5 class="h5">Криптовалютный трейдинг</h5>
										<p>
										Проект «АТЛАНТ» предполагает создание на базе читального зала Библиотеки №1 МБУК ЦГБ им.М.Горького лабораторной зоны для занятий естественными науками детей младшего школьного возраста во время летних школьных каникул. Помощь в организации работы по проекту будут оказывать подростки из числа посетителей библиотеки и привлеченные из школьных стройотрядов. </p>
										<h5 class="h5 rate">средний процент: 5% делимся: 2.5% </h5>
									</div>
								<!-- end -->

								<!-- end -->
							</div>

							<div class="techno-info-flex">
								<!-- 3	 -->
									<div class="block-i ">
										<h5 class="h5">Инвестирование в ICO</h5>
										<p>
										Проект «АТЛАНТ» предполагает создание на базе читального зала Библиотеки №1 МБУК ЦГБ им.М.Горького лабораторной зоны для занятий естественными науками детей младшего школьного возраста во время летних школьных каникул. Помощь в организации работы по проекту будут оказывать подростки из числа посетителей библиотеки и привлеченные из школьных стройотрядов. </p>
										<h5 class="h5 rate">средний процент: 5% делимся: 2.5% </h5>
									</div>
								<!-- end -->
							</div>
						</div>
				<!-- end-fo-slide -->
						<div class="techno-info-flex hidden-sm hidden-xs">

							<!-- 1 -->
								<div class="block-i blc-1">
									<h5 class="h5">Облачный майнинг </h5>
									<p>
									Вы арендуете мощность нашего оборудования – оно зарабатывает вам деньги. Вам не нужно подбирать ASIC и GPU, настраивать их, следить за температурой, терпеть шум и пыль, платить за электричество и объяснять жене, что железки за тысячу долларов вот-вот окупятся. Вы просто считаете деньги, которые приходят на ваш кошелек – от 100% до 200% годовых в зависимости от арендованной мощности. </p>
									<h5 class="h5 rate">средний процент: 5% делимся: 2.5% </h5>
								</div>
							<!-- end -->

							<!-- 2 -->
								<div class="block-i">
									<h5 class="h5">Криптовалютный трейдинг</h5>
									<p>
									В штате ZEUS – 6 трейдеров, эксперты рынка криптовалют. Они управляют общим фондом наших клиентов, прибыль каждого инвестора эквивалентна  вкладу. Этот вид инвестирования считается довольно рисковым – прибыль не постоянна и варьируется от 500% до 1500% годовых. В среднем наши инвесторы получают 400% годовых, вложив деньги в крипто-трейдинг. </p>
									<h5 class="h5 rate">средний процент: 5% делимся: 2.5% </h5>
								</div>
							<!-- end -->

							<!-- 3	 -->
								<div class="block-i blc">
									<h5 class="h5">Инвестирование в ICO</h5>
									<p>
									ICO похоже на покупку акций – за ваши деньги приобретаются коины, внутренняя валюта нового стартапа. С ростом стартапа эта валюта также растет в цене, что позволяет ее выгодно продать, получив прибыль в районе 300% годовых. Вы доверяете нам деньги, а наши инвесторы прочесывают сотни ICO, чтобы обеспечить вам наибольшую прибыль. </p>
									<h5 class="h5 rate">средний процент: 5% делимся: 2.5% </h5>
								</div>
							<!-- end -->

							</div>

							<div class="techno-inv-flex">

							<!-- 5 -->

								<div class="block-i">
									<h5 class="h5">вывод раз в месяц</h5>


									<div class="btn-1"><a href="/login" class="button">Инвестировать и зарабатывать
									1% в день</a></div>

									<a href="/login"><img src="img/info.png" alt="info"></a>
								</div>

							<!-- end -->

							</div>

						</div>
					</div>

				</div>

			</section>

			<section class="advantage" id="advant">

				<div class="adv-title"><h2 class="h2">Преимущество</h1></div>

				<div class="adv-content">

					<div class="container">
						<div class="row">

							<div class="advantage-flex">

								<div class="advan">
									<img src="img/adve-2.png" alt="adv">
									<h3>Мгновенный вывод</h3>
									<p>выводите заработанные деньги на свой счет</p>
								</div>

								<div class="advan">
									<img src="img/adve-1.png" alt="adv">
									<h3>Защита данных</h3>
									<p>защита всех даных и транзакций</p>
								</div>

								<div class="advan">
									<img src="img/adv-3.png" alt="adv">
									<h3>Расширенная статистика</h3>
									<p>нет необходимоси в дополнительных интерне-ресурсах</p>
								</div>

								<div class="advan">
									<img src="img/adv-4.png" alt="adv">
									<h3>Поддержка 24/7</h3>
									<p>круглосуточная техническая поддержка</p>
								</div>

								<div class="advan">
									<img src="img/adv-5.png" alt="adv">
									<h3>Гарантии Отзывы</h3>
									<p>наши гарантии, отзывы и начисление прибыли в режиме 24/7</p>
								</div>

							</div>

						</div>
					</div>

				</div>

			</section>

			<section class="grafics">

				<div class="grafs">

					<div class="border-bg-grafics">

						<h2 class="h2">Динамика роста биткоина</h2>

						<div class="grafic-lot-flex">

							<!-- <div class="ct-chart-1 ct-golden-section graf-1"></div> -->

							<div class="img-graf">
								<img src="img/graf-1.png" alt="graf">
							</div>

							<div class="grafic-info">
								<div class="inf-flex">

									<div class="graf-i">
										<p>mktcap</p>
										<span>$89.2b</span>
									</div>

									<div class="graf-i">
										<p>high</p>
										<span>$5765.85</span>
									</div>

									<div class="graf-i">
										<p>low</p>
										<span>$1189.64</span>
									</div>

									<div class="graf-i">
										<p>supply</p>
										<span>16.6m</span>
									</div>

									<div class="graf-i">
										<p>blocks</p>
										<span>490483</span>
									</div>

								</div>
							</div>

						</div>

					</div>

				</div>

			</section>


			<section class="planes-of-invest">

				<div class="pl-title"><h2 class="h2">Планы вкладов</h3></div>

				<div class="wrapper">
					<!-- <div class="row"> -->

						<div class="plane-invest owl-carousel">

						<!-- 2 item -->
							<div class="plane-invester plane-invester-second">

								<div class="investaition">

									<div class="header-invest">
										<div class="star-bl">
											<img src="img/star-1.png" alt="star">
										</div>
										<h5>Классик</h5>
									</div>

									<div class="body-invest">

										<div class="popular">
											<img src="img/popular.png" alt="popular">
										</div>

										<div class="inv-cost">
											<h1 class="h1-p"><span>$</span>10</h1>
											<p>в месяц</p>
										</div>

										<div class="inv-prepos">

											<ul class="inv">
												<li><i class="fa fa-check" aria-hidden="true"></i><p>средний процент: 5% <span>делимся: 2.5%</span></p></li>
												<li><i class="fa fa-check" aria-hidden="true"></i><p>в вывод раз в месяц</p></li>
												<li><i class="fa fa-check" aria-hidden="true"></i><p class="bb">макс.депозит: 0.5БТЦ</p></li>
											</ul>

										</div>

										<div class="inv-footer">
											<div class="btn-1">
												<a href="/login" class="button">Инвестировать, и зарабатывать 1% в день</a>
											</div>
											<div class="i-icon"><a href="/login"><img src="img/info.png" alt="info"></a></div>
										</div>

									</div>

								</div>

							</div>
						<!-- end -->
						<!-- 3 item -->
							<div class="plane-invester plane-invester-third">

								<div class="investaition">

									<div class="header-invest">
										<div class="star-bl">
											<img src="img/star-3.png" alt="star">
										</div>
										<h5>Максимум</h5>
									</div>

									<div class="body-invest">

										<div class="inv-cost">
											<h1><span>$</span>16</h1>
											<p>в месяц</p>
										</div>

										<div class="inv-prepos">

											<ul class="inv">
												<li><i class="fa fa-check" aria-hidden="true"></i><p>средний процент: 5% <span>делимся: 2.5%</span></p></li>
												<li><i class="fa fa-check" aria-hidden="true"></i><p>в вывод раз в месяц</p></li>
												<li><i class="fa fa-check" aria-hidden="true"></i><p>макс.депозит: 0.5БТЦ</p></li>
												<li><i class="fa fa-check" aria-hidden="true"></i><p class="bb">макс.депозит: 2.5БТЦ</p></li>
											</ul>

										</div>

										<div class="inv-footer">
											<div class="btn-1">
												<a href="/login" class="button">Инвестировать, и зарабатывать 1% в день</a>
											</div>
											<div class="i-icon"><a href="/login"><img src="img/info.png" alt="info"></a></div>
										</div>

									</div>

								</div>

							</div>
						<!-- end -->
						<!-- 1 item -->
							<div class="plane-invester plane-invester-first">

								<div class="investaition">

									<div class="header-invest">
										<div class="star-bl">
											<img src="img/star-2.png" alt="star">
										</div>
										<h5>Базовый</h5>
									</div>

									<div class="body-invest">

										<div class="inv-cost">
											<h1><span>$</span>5</h1>
											<p>в месяц</p>
										</div>

										<div class="inv-prepos">

											<ul class="inv">
												<li><i class="fa fa-check" aria-hidden="true"></i><p>средний процент: 5% <span>делимся: 2.5%</span></p></li>
												<li><i class="fa fa-check" aria-hidden="true"></i><p class="bb">в вывод раз в месяц</p></li>
											</ul>

										</div>

										<div class="inv-footer">
											<div class="btn-1">
												<a href="/login" class="button">Инвестировать, и зарабатывать 1% в день</a>
											</div>
											<div class="i-icon"><a href="/login"><img src="img/info.png" alt="info"></a></div>
										</div>

									</div>

								</div>

							</div>
						<!-- end -->

						</div>
					<!-- </div> -->
				</div>
			</section>


			<section class="calculate" id="calculater">

				<div class="calculate-border">

					<div class="calculate-calc">
						<h2 class="h2">Калькулятор</h2>
					</div>

					<div class="calculate-main">

						<div class="container">
							<div class="row">

								<div class="calculate-form">

									<div class="your-sum">
										<p>Сумма:</p>
										<input type="text" placeholder="00,10...">
									</div>

									<div class="your-choice">
										<p>Тип вклада(тариф)</p>
										<select>
											<option>Классик...</option>
											<option>Классик...</option>
											<option>Классик...</option>
										</select>
									</div>

									<div class="your-earnings">
										<p>Ваша прибыль</p>
										<input type="text" placeholder="00,00$...">
									</div>

								</div>

								<div class="bit-img hidden-sm hidden-xs">
									<img src="img/bitc.png" alt="bitc">
								</div>

							</div>
						</div>


					</div>

				</div>

			</section>

			<section class="Telegram" name="Tel" id="Tel">

				<img src="img/telegram.png" alt="telegram" class="lit-img hidden-md hidden-lg">

				<div class="description">

					<div class="bg-info-1 hidden-sm hidden-xs">

						<div class="info-flex">

							<div class="our-deal">Вы можете прямо со смартфона следить за процессом менять пакеты инвестиций, выводить деньги и приглашать друзей через соцсети и мессенджеры. Помогите друзьям заработать, при этом получая прибыль за каждого приглашенного участника. За каждого активного инвестора вы получаете прибавку к уровню, за новый уровень – прибавку к годовой прибыли за счет уменьшения нашей комиссии. Приглашайте друзей и получайте больше вместе!</div>

							<img src="img/telegram.png" alt="telegram" class="lit-img hidden-sm hidden-xs">

							<img src="img/telegram-phone.png" alt="women" class="women telegram img-responsive">

						</div>

					</div>

					<div class="bg-info-1 hidden-lg hidden-md">

						<div class="info-flex">

							<div class="our-deal">Вы можете прямо со смартфона следить за процессом менять пакеты инвестиций, выводить деньги и приглашать друзей через соцсети и мессенджеры. Помогите друзьям заработать, при этом получая прибыль за каждого приглашенного участника. За каждого активного инвестора вы получаете прибавку к уровню, за новый уровень – прибавку к годовой прибыли за счет уменьшения нашей комиссии. Приглашайте друзей и получайте больше вместе! </div>

							<img src="img/faq.png" alt="faq" class="lit-img hidden-sm hidden-xs">

							<img src="img/computer.png" alt="city" class="women city telegram img-responsive hidden-lg hidden-md">

						</div>

					</div>

					<div class="bg-border">
						<div class="title"><h2 class="h2">Смартфон в помощь</h2></div>
					</div>

					<div class="buton">
						<div class="btn">
							<a href="/about/telegram" class="button">Узнать больше</a>
						</div>
					</div>
				</div>

			</section>


			<section class="ref-system" name="rf-system" id="rf-system">

				<div class="border-bg-graf">

					<h3 class="h3">Реф система</h3>

					<div class="graf"><img src="img/graf.png" alt="graf"></div>

					<ul class="steps">
						<li>Ступень 1-10%</li>
						<li>Ступень 2-5%</li>
						<li>Ступень 3-3%</li>
						<li>Ступень 4-2%</li>
						<li>Ступень 5-1%</li>
					</ul>

				</div>

			</section>

			<section class="table-info">

				<div class="wrapper">

					<div class="wrap-flex">

						<div class="table">
							<ul class="tb-info">
								<li><p><span class="demical">1</span>Fghj09</p>  <span>20.00$</span></li>
								<li><p><span class="demical">2</span>Fghj010</p> <span>20.00$</span></li>
								<li><p><span class="demical">3</span>Fghj010</p> <span>20.00$</span></li>
								<li><p><span class="demical">4</span>Fghj010</p> <span>20.00$</span></li>
								<li><p><span class="demical">5</span>Fghj010</p> <span>20.00$</span></li>
							</ul>
						</div>

						<div class="table">
							<ul class="tb-info">
								<li><p><span class="demical1">6</span>Fghj09</p>  <span>20.00$</span></li>
								<li><p><span class="demical1">7</span>Fghj010</p> <span>20.00$</span></li>
								<li><p><span class="demical1">8</span>Fghj010</p> <span>20.00$</span></li>
								<li><p><span class="demical1">9</span>Fghj010</p> <span>20.00$</span></li>
								<li><p><span class="demical">10</span>Fghj010</p> <span>20.00$</span></li>
							</ul>
						</div>

					</div>

				</div>

			</section>

			<section class="circles" name="circ" id="circ">

				<div class="border-bg-circle">

					<h3 class="h3">Статистика</h3>

					<div class="circle-flex">

						<div class="circle-o">
							<p class="spincrement">131699</p>
							<span>Инвестировано<br>(usd)</span>
						</div>

						<div class="circle-o">
							<p class="spincrement">131699</p>
							<span>Выведено<br>(usd)</span>
						</div>

					</div>

				</div>

			</section>

			<section class="video-block">

				<div class="wrapper">

					<div class="video-title"><h2 class="h2">Отзывы</h3></div>

					<div class="video-slide owl-carousel">

						<div class="video">
							<img src="img/video-1.png" alt="video">
							<div class="video-cover">
								<button class="btn-play"></button>
							</div>
						</div>

						<div class="video">
							<img src="img/video-2.png" alt="video">
							<div class="video-cover">
								<button class="btn-play"></button>
							</div>
						</div>

					</div>

				</div>

			</section>

			<section class="faq" name="faqt" id="faqt">

				<img src="img/faq.png" alt="faq" class="lit-img hidden-md hidden-lg">

				<div class="description">

					<div class="bg-info-1 hidden-xs hidden-sm">

						<div class="info-flex">

							<div class="our-deal">Хотите знать больше? Более детально о криптовалютах, майнинге, трейдинге, инвестировании, тарифах, получении прибыли и других аспектах работы с ZEUS можно прочитать в FAQ.</div>

							<img src="img/faq.png" alt="faq" class="lit-img hidden-sm hidden-xs">

							<img src="img/cool-man.png" alt="cool-man" class="cool-men telegram img-responsive">

						</div>

					</div>


					<div class="bg-info-1 hidden-lg hidden-md">

						<div class="info-flex">

							<div class="our-deal">Хотите знать больше? Более детально о криптовалютах, майнинге, трейдинге, инвестировании, тарифах, получении прибыли и других аспектах работы с ZEUS можно прочитать в FAQ. </div>

							<img src="img/faq.png" alt="faq" class="lit-img hidden-sm hidden-xs">

							<img src="img/city.png" alt="city" class="women city telegram img-responsive hidden-lg hidden-md">

						</div>

					</div>

					<div class="bg-border">
						<div class="title"><h2 class="h2">faq</h2></div>
					</div>

					<div class="buton">
						<div class="btn">
							<a href="/about/faq" class="button">Читать FAQ</a>
						</div>
					</div>
				</div>

			</section>

			<section class="question">

				<div class="quest-content">

					<div class="container">
						<div class="row">

							<div class="question-flex">

								<div class="quest-title"><h2 class="h2">Остались вопросы ?</h1></div>

							</div>

							<div class="question-info">

								<form>

									<div class="user-info">

										<div class="name-bl">
											<input type="text" placeholder="Имя...">
										</div>

										<div class="all-bl">
											<input type="text" placeholder="Тел...">
											<input type="text" placeholder="Email...">
										</div>

									</div>

									<button class="button">Запросить помощь</button>

								</form>

							</div>

						</div>
					</div>

				</div>

			</section>

			<section class="system_of_pay" name="pay" id="pay">

				<div class="border-of-pay">

					<div class="border-pay">
						<h3 class="h3">Системы оплаты и вывод</h3>

						<div class="owl-carousel pay-card">

							<!-- 1 -->
								<div class="pay-flex">

									<div class="visa pay"><img src="img/visa.png" alt="visa"></div>
									<div class="master-card pay"><img src="img/master-card.png" alt="master-card"></div>
									<div class="american-ex pay"><img src="img/american-ex.png" alt="american-ex"></div>

								</div>
							<!-- end -->

							<!-- 2 -->
								<div class="pay-flex">

									<div class="visa pay"><img src="img/visa.png" alt="visa"></div>
									<div class="master-card pay"><img src="img/master-card.png" alt="master-card"></div>
									<div class="american-ex pay"><img src="img/american-ex.png" alt="american-ex"></div>

								</div>
							<!-- end -->

							<!-- 3 -->
								<div class="pay-flex">

									<div class="visa pay"><img src="img/visa.png" alt="visa"></div>
									<div class="master-card pay"><img src="img/master-card.png" alt="master-card"></div>
									<div class="american-ex pay"><img src="img/american-ex.png" alt="american-ex"></div>

								</div>
							<!-- end	 -->

						</div>
					</div>

				</div>

			</section>

		</div>

		<div id="my-footer">
			<div class="main-footer">

				<nav class="footer-menu">
					<ul class="footer-nav hidden-sm hidden-xs">

						<li class="active"><a href="#main-slide" class="m-slide">Описание проекта</a></li>
						<li><a href="#tech" class="t-tech">Технологии и проекты</a></li>
						<li><a href="#Tel" class="t-Tel">Telegram</a></li>
						<li><a href="#rf-system" class="t-rf-system">Реф Система</a></li>
						<li><a href="#faqt" class="t-faqt">faq</a></li>
						<li><a href="#circ" class="t-circ">Статистика</a></li>
						<li><a href="#pay" class="t-pay">Оплата</a></li>

					</ul>
				</nav>

				<div class="footer-info">

					<div class="container">
						<div class="row">

							<div class="footer-flex-info">

								<a href="#my-menu" class="hamburger hamburgers--emphatic hidden-lg hidden-md">
									<span class="hamburger-box">
										<span class="hamburger-inner"></span>
									</span>
								</a>

								<a href="/" class="footer-logo">Zeus</a>

								<div class="mouse-icon hidden-sm hidden-xs">
									<div class="wheel"></div>
								</div>

								<div class="social-par hidden-sm hidden-xs">
									<ul class="social">
										{{ range .socials }}
											<li><a href="{{ .Link }}"><img src="{{ .Image }}" alt="{{ .Alt }}"></a></li>
										{{ end }}

									</ul>
								</div>
							</div>

						</div>
					</div>

				</div>

				</div>

			</div>
		</div>

	</div>

	<nav id="my-menu">
		<ul class="header-menu">
			<li class="active"><a href="#dop-2">Описание</a></li>
			<li><a href="#tech">Технологии и проекты</a></li>
			<li><a href="#advant">Преимущество</a></li>
			<li><a href="#Tel">Telegram</a></li>
			<li><a href="#rf-system">Реф Система</a></li>
			<li><a href="#circ">Статистика</a></li>
			<li><a href="#faqt">faq</a></li>
			<li><a href="#pay">Оплата</a></li>
		</ul>
	</nav>

	<!--< div class="top" title="ToUp"><i class="fa fa-angle-double-up"></i></div>  -->

	<script src="js/scripts.min.js"></script>

</body>
</html>
