<div class="top row">
  <div class="pleft col-lg-8 col-md-6 col-sm-12 col-xs-12">
    <p>Последний вход: <span id="visit-day">11 июля</span>, <span id="visit-time">13:36</span><br><span id="visit-browser">Chrome</span>, <span id="visit-city">Москва</span></p>

    <input type="text" placeholder="Поиск...">
  </div>

  <div class="pright col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-sm-4 col-xs-4">
        <span id="now-time">16:32</span>
      </div>

      <div class="col-sm-8 col-xs-8">
        <div class="row">
          <div class="col-sm-12 col-xs-12 text-right">
            <p>Баланс счета: <span id="balance">0,00$</span></p>
          </div>

          <div class="col-sm-12 col-xs-12 text-right">
            <a href="#!" class="btn1">ВЫХОД</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="forecast row">
  <div class="npr col-lg-1 col-md-2 col-sm-12 col-xs-12">
    <div class="card">
      <select name="currency" id="currency">
        <option value="usd">USD</option>
        <option value="ru">RU</option>
        <option value="euro">EU</option>
      </select>

      <p>БИРЖА</p>
    </div>
  </div>

  <div class="col-lg-7 col-md-10 col-sm-12 col-xs-12">
    <div class="card table-overflow-x">
      <table class="table table-condensed">
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td class="text-center">15:49</td>
            <td class="text-center">МИН.</td>
            <td class="text-center">МАКС.</td>
            <td class="text-center">ПРОГНОЗ. 31.12</td>
          </tr>
          <tr>
            <td class="text-left">16:45</td>
            <td class="text-left">58.23</td>
            <td class="text-center big green">58,11</td>
            <td class="text-center big">57,89</td>
            <td class="text-center big">58,77</td>
            <td class="text-center big">59,97</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td class="text-center">-0.26</td>
            <td class="text-center">-0.22</td>
            <td class="text-center">-0.66</td>
            <td class="text-center">-1.11</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<article data-page="page1">
  <div class="equal-h row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Общий объем</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Всего</td>
              <td>160$</td>
            </tr>
            <tr>
              <td>За сутки</td>
              <td>42$</td>
            </tr>
            <tr>
              <td>За месяц</td>
              <td>24$</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Выплаченные дивиденты</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Общий размер</td>
              <td>160$</td>
            </tr>
            <tr>
              <td>За месяц</td>
              <td>42$</td>
            </tr>
          </tbody>
        </table>

        <div class="pbottom">
          <a href="#!" class="btn1">Обновить</a>
          <a href="#!" class="btn1">Детализация</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Выплаченные дивиденты за сутки</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>За сутки</td>
              <td>42$</td>
            </tr>
          </tbody>
        </table>

        <div class="pbottom">
          <a href="#!" class="btn1">Обновить</a>
          <a href="#!" class="btn1">Детализация</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 visible-lg visible-md"></div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Выплаты по партнерской программе</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Общий размер</td>
              <td>160$</td>
            </tr>
            <tr>
              <td>За месяц</td>
              <td>42$</td>
            </tr>
          </tbody>
        </table>

        <div class="pbottom">
          <a href="#!" class="btn1">Обновить</a>
          <a href="#!" class="btn1">Детализация</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Выплаты по партнерской программе за сутки</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>За сутки</td>
              <td>160$</td>
            </tr>
          </tbody>
        </table>

        <div class="pbottom">
          <a href="#!" class="btn1">Обновить</a>
          <a href="#!" class="btn1">Детализация</a>
        </div>
      </div>
    </div>
  </div>
</article>

<article data-page="page2">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="card calculator">
            <h5>ИНВЕСТИЦИОННЫЙ КАЛЬКУЛЯТОР</h5>

            <form action="">
              <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="amount">СУММА:</label>
                    <input type="text" class="form-control" id="amount" placeholder="00.00$..." name="amount">
                  </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="rate">СТАВКА (%):</label>
                    <select id="rate" name="rate">
                      <option value="10">10%</option>
                      <option value="12">12%</option>
                      <option value="14">14%</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="pay">ВЫПЛАТА:</label>
                    <input type="password" class="form-control" id="pay" placeholder="00.00$..." name="pay">
                  </div>
                </div>

                <div class="col-sm-12 col-xs-12">
                  <button type="submit" class="btn1">РАССЧИТАТЬ</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-sm-12 col-xs-12">
          <div class="card contracts">
            <h5>ИНВЕСТИЦИОННЫЕ КОНТРАКТЫ</h5>

            <table class="table tbl table-condensed">
              <tbody>
                <tr>
                  <td>ОБЩИЙ РАЗМЕР</td>
                  <td>160$</td>
                </tr>
                <tr>
                  <td>РАЗМЕР ПРИБЫЛИ В СУТКИ</td>
                  <td>42$</td>
                </tr>
              </tbody>
            </table>

            <table class="table tbl2 table-condensed">
              <thead>
                <tr>
                  <th>№0</th>
                  <th class="text-center">СРОК ДЕЙСТВИЯ</th>
                  <th>СУММА</th>
                  <th class="text-center">СТАВКА (%)</th>
                </tr>
              </thead>
              <tbody>
                <tr class="spacer"></tr>
                <tr>
                  <td>№1</td>
                  <td class="text-center">10.10.2018</td>
                  <td>1000$</td>
                  <td class="text-center">10%</td>
                </tr>
                <tr class="spacer"></tr>
                <tr>
                  <td>№2</td>
                  <td class="text-center">12.12.2018</td>
                  <td>200$</td>
                  <td class="text-center">10%</td>
                </tr>
                <tr class="spacer"></tr>
                <tr>
                  <td>№3</td>
                  <td class="text-center">04.01.2018</td>
                  <td>100$</td>
                  <td class="text-center">50%</td>
                </tr>
              </tbody>
            </table>

            <div class="pbottom">
              <a href="#!" class="btn1">ОБНОВИТЬ</a>
              <a href="#!" class="btn1">ДЕТАЛИЗАЦИЯ</a>

              <p>
                <span class="fw6">ВСЕГО:</span> <span>567.000 (USD)</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="card bank-cart">
        <h5>ИНВЕСТИРОВАТЬ</h5>

        <form action="">
          <div class="form-group form-inline">
            <input type="radio" id="mastercard-1" name="kind-bank-1" checked>
            <label class="mastercard" for="mastercard-1">
              <div></div>
              <span class="indicator-select"></span>
            </label>

            <input type="radio" id="maestro-1" name="kind-bank-1">
            <label class="maestro" for="maestro-1">
              <div></div>
              <span class="indicator-select"></span>
            </label>

            <input type="radio" id="visa-1" name="kind-bank-1">
            <label class="visa" for="visa-1">
              <div></div>
              <span class="indicator-select"></span>
            </label>

            <input type="radio" id="americane-1" name="kind-bank-1">
            <label class="americane" for="americane-1">
              <div></div>
              <span class="indicator-select"></span>
            </label>

            <input type="radio" id="mir-1" name="kind-bank-1">
            <label class="mir" for="mir-1">
              <div></div>
              <span class="indicator-select"></span>
            </label>
          </div>

          <div class="form-group">
            <div class="form-inline">
              <input type="text" class="form-control" id="family" placeholder="ИВАНОВ" name="email">

              <input type="text" class="form-control" id="name" placeholder="ИВАН" name="name">
            </div>
            <label for="family">ИМЯ ВЛАДЕЛЬЦА КАРТЫ <span class="required">*</span></label>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" id="pwd" placeholder="**** **** **** ****" name="pwd">
            <label for="pwd">НОМЕР КАРТЫ <span class="required">*</span></label>
          </div>

          <div class="form-group">
            <div class="form-inline">
              <input type="text" class="form-control" id="validity-month" placeholder="05" name="validity-month">
              <span class="division">/</span>
              <input type="text" class="form-control" id="validity-year" placeholder="20" name="validity-year">
            </div>

            <label for="validity-month">СРОК ДЕЙСТВИЯ КАРТЫ <span class="required">*</span></label>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="cvc" placeholder="678" name="cvc">
            <label for="cvc">КОД CVV/CVC <span class="required">*</span></label>
          </div>

          <p>1. Ваша оплата пройдет по зашифрованному каналу SSL VeriSign - самой надежной коммерческой технологии шифрования.</p>
          <p>Вы можете быть уверены, что информация о вашей кредитной карте не попадет в чужие руки.</p>
          <p>2. КОД CVV/CVC - 3 цифры после номера карты на оборотной стороне карты.</p>
        </form>
      </div>
    </div>
  </div>
</article>

<article data-page="page3">
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
      <div class="card card1">
        <div class="ptop">
          <a href="#table1" class="active">СВЕДЕНИЯ ЗА ОТЧЕТНЫЙ ПЕРИОД</a>
          <a href="#table2">ПАРТНЕРСКАЯ ПРОГРАММА</a>
        </div>

        <div class="dfi">
          <div class="table-overflow">
            <table data-table="table1" class="table table-condensed">
              <thead>
                <tr>
                  <th>КОЛИЧЕСТВО ПАРТНЕРОВ</th>
                  <th>ОБЪЕМ ИНВЕСТИЦИЙ</th>
                  <th>ВЫПЛАТЫ ПО ПРОГРАММЕ</th>
                </tr>
              </thead>
              <tbody>
                <tr class="spacer"></tr>
                <tr>
                  <td>№1</td>
                  <td>1,000$</td>
                  <td>1,000$</td>
                </tr>
                <tr class="spacer"></tr>
              </tbody>

              <thead>
                <tr>
                  <th>КОЛ-ВО ОБЩЕЕ</th>
                  <th>ИНВЕСТ ОБЩЕЕ</th>
                  <th>ВЫПЛАТЫ ОБЩИЕ ЗА ПЕРИОД</th>
                </tr>
              </thead>
              <tbody>
                <tr class="spacer"></tr>
                <tr>
                  <td>№1</td>
                  <td>1,000$</td>
                  <td>1,000$</td>
                </tr>
                <tr class="spacer"></tr>
              </tbody>
            </table>
          </div>

          <div class="table-overflow">
            <table data-table="table2" class="table table-condensed">
              <thead>
                <tr>
                  <th>КОЛИЧЕСТВО ПАРТНЕРОВ</th>
                  <th>ОБЪЕМ ИНВЕСТИЦИЙ</th>
                  <th>ВЫПЛАТЫ ПО ПРОГРАММЕ</th>
                  <th>КОМАНДНЫЕ ДОСТИЖЕНИЯ</th>
                </tr>
              </thead>
              <tbody>
                <tr class="spacer"></tr>
                <tr>
                  <td>№1</td>
                  <td>1,000$</td>
                  <td>1,000$</td>
                  <td>1 УРОВЕНЬ</td>
                </tr>
                <tr class="spacer"></tr>
              </tbody>
            </table>
          </div>

          <div class="btn-scroll">
            <a href="#!" class="scroll-top"></a>
            <a href="#!" class="scroll-bottom"></a>
          </div>
        </div>

        <div class="pbottom">
          <a href="#!" class="btn1">ОБНОВИТЬ</a>
          <a href="#!" class="btn1">ДЕТАЛИЗАЦИЯ</a>

          <p class="change">ПЕРИОД:
            <a href="#!" class="active">СУТКИ</a>
            <a href="#!">НЕДЕЛЯ</a>
            <a href="#!">МЕСЯЦ</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
      <div class="card card2">
        <div class="ptop">
          <a href="#table3" class="active">НОВЫЕ ПАРТНЕРЫ</a>
          <a href="#table4">МОИ ПАРТНЕРЫ</a>

          <p class="change">ПЕРИОД:
            <a href="#!" class="active">СУТКИ</a>
            <a href="#!">НЕДЕЛЯ</a>
            <a href="#!">МЕСЯЦ</a>
          </p>
        </div>

        <div class="dfi">
          <div class="table-overflow">
            <table data-table="table3" class="table table-condensed">
              <thead>
                <tr>
                  <th>УРОВЕНЬ РЕФЕРАЛА</th>
                  <th>СУММА ИНВЕСТИЦИЙ</th>
                  <th>ВЫПЛАТЫ ПО ПРОГРАММЕ</th>
                  <th>СПОНСОР</th>
                </tr>
              </thead>
              <tbody>
                <tr class="spacer"></tr>
                <tr>
                  <td>№1</td>
                  <td>1,000$</td>
                  <td>1,000$</td>
                  <td>ID100</td>
                </tr>
                <tr class="spacer"></tr>
                <tr>
                  <td>№2</td>
                  <td>1,000$</td>
                  <td>1,000$</td>
                  <td>ID100</td>
                </tr>
                <tr class="spacer"></tr>
                <tr>
                  <td>№3</td>
                  <td>1,000$</td>
                  <td>1,000$</td>
                  <td>ID100</td>
                </tr>
                <tr class="spacer"></tr>
                <tr>
                  <td>№4</td>
                  <td>1,000$</td>
                  <td>1,000$</td>
                  <td>ID100</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="table-overflow">
            <table data-table="table4" class="table table-condensed">
              <thead>
                <tr>
                  <th>УРОВЕНЬ РЕФЕРАЛА</th>
                  <th>СУММА ИНВЕСТИЦИЙ</th>
                  <th>ВЫПЛАТЫ ПО ПРОГРАММЕ</th>
                  <th>ОБЪЕМ ИНВЕСТИЦИЙ КОМАНДЫ</th>
                  <th>СПОНСОР</th>
                </tr>
              </thead>
              <tbody>
                <tr class="spacer"></tr>
                <tr>
                  <td>№1</td>
                  <td>1,000$</td>
                  <td>1,000$</td>
                  <td>1,000$</td>
                  <td>ID100</td>
                </tr>
                <tr class="spacer"></tr>
                <tr>
                  <td>№2</td>
                  <td>1,000$</td>
                  <td>1,000$</td>
                  <td>1,000$</td>
                  <td>ID100</td>
                </tr>
                <tr class="spacer"></tr>
                <tr>
                  <td>№3</td>
                  <td>1,000$</td>
                  <td>1,000$</td>
                  <td>1,000$</td>
                  <td>ID100</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="btn-scroll">
            <a href="#!" class="scroll-top"></a>
            <a href="#!" class="scroll-bottom"></a>
          </div>
        </div>

        <div class="pbottom">
          <a href="#!" class="btn1">ОБНОВИТЬ</a>
          <a href="#!" class="btn1">ДЕТАЛИЗАЦИЯ</a>
        </div>
      </div>
    </div>
  </div>
</article>

<article data-page="page4">
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="ptop">
          <p>ВЫВОД СРЕДСТВ</p>
        </div>

        <div class="dfi">
          <div class="table-overflow">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>№</th>
                  <th>ВРЕМЯ</th>
                  <th>ВИД ТРАНЗАКЦИИ</th>
                  <th>СУММА</th>
                  <th>ИСПОЛНИТЕЛЬ</th>
                </tr>
              </thead>
              <tbody>
                <tr class="spacer"></tr>
                <tr>
                  <td>№1</td>
                  <td>13:15:00 (12.07.2017)</td>
                  <td>ВЫВОД</td>
                  <td>1,000$</td>
                  <td>ИНВЕСТОР</td>
                </tr>
                <tr class="spacer"></tr>
                <tr>
                  <td>№1</td>
                  <td>13:15:00 (12.07.2017)</td>
                  <td>ВЫВОД</td>
                  <td>1,000$</td>
                  <td>ИНВЕСТОР</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="btn-scroll">
            <a href="#!" class="scroll-top"></a>
            <a href="#!" class="scroll-bottom"></a>
          </div>
        </div>

        <div class="pbottom">
          <a href="#!" class="btn1">ОБНОВИТЬ</a>
          <a href="#!" class="btn1">ДЕТАЛИЗАЦИЯ</a>
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="ptop">
          <p>ФОРМА ВЫВОДА</p>
        </div>

        <div class="dfi">
          <div class="table-overflow">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>№</th>
                  <th>ВРЕМЯ</th>
                  <th>ВИД ТРАНЗАКЦИИ</th>
                  <th>СУММА</th>
                  <th>ИСПОЛНИТЕЛЬ</th>
                </tr>
              </thead>
              <tbody>
                <tr class="spacer"></tr>
                <tr>
                  <td>№1</td>
                  <td>13:15:00 (12.07.2017)</td>
                  <td>ВЫВОД</td>
                  <td>1,000$</td>
                  <td>ИНВЕСТОР</td>
                </tr>
                <tr class="spacer"></tr>
                <tr>
                  <td>№1</td>
                  <td>13:15:00 (12.07.2017)</td>
                  <td>ВЫВОД</td>
                  <td>1,000$</td>
                  <td>ИНВЕСТОР</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="btn-scroll">
            <a href="#!" class="scroll-top"></a>
            <a href="#!" class="scroll-bottom"></a>
          </div>
        </div>

        <div class="pbottom">
          <a href="#!" class="btn1">ОБНОВИТЬ</a>
          <a href="#!" class="btn1">ДЕТАЛИЗАЦИЯ</a>
        </div>
      </div>
    </div>
  </div>
</article>

<article data-page="page5">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="requisites">
        <div class="on-edge">
          <p>Полное / сокращенное наименование:</p>
          <p>Общество с ограниченной ответственностью "ТК-Сервис"</p>
        </div>
        <div class="on-edge">
          <p>Юридический адрес:</p>
          <p>123007, г.Москва, 2-й Магистральный тупик, д. 7А, стр.2</p>
        </div>
        <div class="on-edge">
          <p>Телефон / факс:</p>
          <p>(495) 223 27 03</p>
        </div>
        <div class="on-edge">
          <p>ОГРН:</p>
          <p>1057749235906</p>
        </div>
        <div class="on-edge">
          <p>ИНН:</p>
          <p>7719573483</p>
        </div>
        <div class="on-edge">
          <p>КПП:</p>
          <p>771401001</p>
        </div>
        <div class="on-edge">
          <p>ОКВЭД:</p>
          <p>51.4, 74.2</p>
        </div>
        <div class="on-edge">
          <p>ОКПО:</p>
          <p>79477127</p>
        </div>
        <div class="on-edge mb">
          <p>Платежные реквизиты:</p>
          <p>р/сч № 40702810301300000491 в ОАО "Альфа-Банк" г.Москва</p>
        </div>

        <div class="on-edge">
          <p>Генеральный директор:</p>
          <p>Чеботаренко Дмитрий Владимирович</p>
        </div>
        <div class="on-edge">
          <p>Главный бухгалтер:</p>
          <p>Чеботаренко Дмитрий Владимирович</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="card bank-cart">
        <h5>ВАШИ РЕКВИЗИТЫ</h5>

        <form action="">
          <div class="form-group form-inline">
            <input type="radio" id="mastercard-2" name="kind-bank-2" checked>
            <label class="mastercard" for="mastercard-2">
              <div></div>
              <span class="indicator-select"></span>
            </label>

            <input type="radio" id="maestro-2" name="kind-bank-2">
            <label class="maestro" for="maestro-2">
              <div></div>
              <span class="indicator-select"></span>
            </label>

            <input type="radio" id="visa-2" name="kind-bank-2">
            <label class="visa" for="visa-2">
              <div></div>
              <span class="indicator-select"></span>
            </label>

            <input type="radio" id="americane-2" name="kind-bank-2">
            <label class="americane" for="americane-2">
              <div></div>
              <span class="indicator-select"></span>
            </label>

            <input type="radio" id="mir-2" name="kind-bank-2">
            <label class="mir" for="mir-2">
              <div></div>
              <span class="indicator-select"></span>
            </label>
          </div>

          <div class="form-group">
            <div class="form-inline">
              <input type="text" class="form-control" id="family" placeholder="ИВАНОВ" name="email">

              <input type="text" class="form-control" id="name" placeholder="ИВАН" name="name">
            </div>
            <label for="family">ИМЯ ВЛАДЕЛЬЦА КАРТЫ <span class="required">*</span></label>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" id="pwd" placeholder="**** **** **** ****" name="pwd">
            <label for="pwd">НОМЕР КАРТЫ <span class="required">*</span></label>
          </div>

          <div class="form-group">
            <div class="form-inline">
              <input type="text" class="form-control" id="validity-month" placeholder="05" name="validity-month">
              <span class="division">/</span>
              <input type="text" class="form-control" id="validity-year" placeholder="20" name="validity-year">
            </div>

            <label for="validity-month">СРОК ДЕЙСТВИЯ КАРТЫ <span class="required">*</span></label>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="cvc" placeholder="678" name="cvc">
            <label for="cvc">КОД CVV/CVC <span class="required">*</span></label>
          </div>

          <p>1. Ваша оплата пройдет по зашифрованному каналу SSL VeriSign - самой надежной коммерческой технологии шифрования.</p>
          <p>Вы можете быть уверены, что информация о вашей кредитной карте не попадет в чужие руки.</p>
          <p>2. КОД CVV/CVC - 3 цифры после номера карты на оборотной стороне карты.</p>
        </form>
      </div>
    </div>
  </div>
</article>

<article data-page="page6">
  <div class="row">
    <div class="col-md-10 col-sm-12 col-xs-12">
      <div class="support">
        <h5>ТЕХНИЧЕСКАЯ ПОДДЕРЖКА</h5>
        <hr>
        <p>Всем известно, что содержание сервиса ZEUS, куда входят портал и база, работает на собственном энтузиазме и средствах. Но содержание сервера - это очень хлопотное и дорогостоящее дело. А потому все, кто желает нам помочь не
          только морально, но и физически, могут это сделать обратив внимание на детали.</p>

        <div>
          <select name="" id="">
            <option value="faq">FAQ</option>
            <option value="some">SOME</option>
          </select>
        </div>

        <p>В этом разделе вы можете найти ответы на некоторые наиболее часто задаваемые вопросы, сообщить о возникшей у вас ошибке или предложить некую новую функцию.</p>

        <div>
          <select name="" id="">
            <option value="rules">Общие правила</option>
            <option value="some">SOME</option>
          </select>
        </div>

        <div>
          <select name="" id="">
            <option value="sustenance">Поддержка</option>
            <option value="some">SOME</option>
          </select>
        </div>

        <hr class="mt">
        <h4>Что-то пошло не так?</h4>

        <form action="">
          <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12">
              <textarea name="problem" rows="4" placeholder="Что-то случилось?"></textarea>

              <button type="submit" name="button">ОТПРАВИТЬ</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</article>

<article data-page="page7">
  <div class="row">
    <div class="col-md-5 col-sm-12 col-xs-12">
      <div class="settings">
        <form action="">
          <div class="form-group">
            <label for="email">E-MAIL:</label>

            <input type="email" class="form-control" id="email" name="email">

            <p class="error">E-mail не подтвержден! <a href="#!">Выслать повторно?</a></p>
          </div>

          <div class="form-group">
            <label for="pwd">ПАРОЛЬ:</label>

            <input type="password" class="form-control" id="pwd" name="pwd">

            <a href="#!" class="change">ИЗМЕНИТЬ</a>
          </div>

          <div class="form-group">
            <label for="name">ИМЯ:</label>

            <input type="text" class="form-control" id="name" name="name">
          </div>

          <div class="form-group">
            <label for="family">ФАМИЛИЯ:</label>

            <input type="text" class="form-control" id="family" name="family">
          </div>

          <div class="form-group">
            <label for="nickname">НИКНЕЙМ:</label>

            <input type="text" class="form-control" id="nickname" name="nickname">
          </div>

          <div class="form-group">
            <label for="birthday">ДАТА РОЖДЕНИЯ:</label>

            <input type="text" class="form-control" id="birthday" name="birthday">
            <input type="text" class="form-control" id="birthmonth" name="birthmonth">
            <input type="text" class="form-control" id="birthyear" name="birthyear">
          </div>

          <div class="form-group">
            <label>ПОЛ:</label>

            <div class="df">
              <input type="radio" id="male" name="isMale">
              <label for="male"><span></span> МУЖСКОЙ</label>

              <input type="radio" id="female" name="isMale">
              <label for="female"><span></span> ЖЕНСКИЙ</label>
            </div>
          </div>

          <div class="pbottom text-center">
            <button type="submit" class="btn disabled btn1">СОХРАНИТЬ</button>

            <button type="submit" class="btn btn1">ИЗМЕНИТЬ</button>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
      <div class="card bank-cart">
        <h5>ПЛАТЕЖНЫЙ ПРОФИЛЬ</h5>

        <form action="">
          <div class="form-group form-inline">
            <input type="radio" id="mastercard-3" name="kind-bank-3" checked>
            <label class="mastercard" for="mastercard-3">
              <div></div>
              <span class="indicator-select"></span>
            </label>

            <input type="radio" id="maestro-3" name="kind-bank-3">
            <label class="maestro" for="maestro-3">
              <div></div>
              <span class="indicator-select"></span>
            </label>

            <input type="radio" id="visa-3" name="kind-bank-3">
            <label class="visa" for="visa-3">
              <div></div>
              <span class="indicator-select"></span>
            </label>

            <input type="radio" id="americane-3" name="kind-bank-3">
            <label class="americane" for="americane-3">
              <div></div>
              <span class="indicator-select"></span>
            </label>

            <input type="radio" id="mir-3" name="kind-bank-3">
            <label class="mir" for="mir-3">
              <div></div>
              <span class="indicator-select"></span>
            </label>
          </div>

          <div class="form-group">
            <div class="form-inline">
              <input type="text" class="form-control" id="family" placeholder="ИВАНОВ" name="email">

              <input type="text" class="form-control" id="name" placeholder="ИВАН" name="name">
            </div>
            <label for="family">ИМЯ ВЛАДЕЛЬЦА КАРТЫ <span class="required">*</span></label>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" id="pwd" placeholder="**** **** **** ****" name="pwd">
            <label for="pwd">НОМЕР КАРТЫ <span class="required">*</span></label>
          </div>

          <div class="form-group">
            <div class="form-inline">
              <input type="text" class="form-control" id="validity-month" placeholder="05" name="validity-month">
              <span class="division">/</span>
              <input type="text" class="form-control" id="validity-year" placeholder="20" name="validity-year">
            </div>

            <label for="validity-month">СРОК ДЕЙСТВИЯ КАРТЫ <span class="required">*</span></label>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="cvc" placeholder="678" name="cvc">
            <label for="cvc">КОД CVV/CVC <span class="required">*</span></label>
          </div>

          <p>1. Ваша оплата пройдет по зашифрованному каналу SSL VeriSign - самой надежной коммерческой технологии шифрования.</p>
          <p>Вы можете быть уверены, что информация о вашей кредитной карте не попадет в чужие руки.</p>
          <p>2. КОД CVV/CVC - 3 цифры после номера карты на оборотной стороне карты.</p>

          <div class="pbottom text-right">
            <button type="submit" class="btn disabled btn1">СОХРАНИТЬ</button>

            <button type="submit" class="btn btn1">ИЗМЕНИТЬ</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</article>
