.spacer, .spacer25, .spacer50, .spacer100 {
  display: block;
  height: 100px;
  width: 100%
}

.spacer25 {
  height: 25px
}

.spacer50 {
  height: 50px
}

.spacer100 {
  height: 100px
}

@media (max-width:992px) {}

@media (max-width:768px) {}

@media (max-width:767px) {}

@font-face {
  font-family: AvenirBoldItalic;
  src: url("/fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.eot");
  src: local('/fonts/AvenirNextCyr/AvenirNextCyrBoldItalic'), local('/fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic'), url("/fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.eot?#iefix") format('embedded-opentype'), url("/fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.woff") format('woff'), url("/fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.ttf") format('truetype');
  font-weight: bold;
  font-style: italic
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr/AvenirNextCyr-Light.eot");
  src: local('/fonts/AvenirNextCyr/AvenirNextCyrLight'), local('/fonts/AvenirNextCyr/AvenirNextCyr-Light'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Light.eot?#iefix") format('embedded-opentype'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Light.woff") format('woff'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot");
  src: local('/fonts/AvenirNextCyr/AvenirNextCyrDemi'), local('/fonts/AvenirNextCyr/AvenirNextCyr-Demi'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot?#iefix") format('embedded-opentype'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Demi.woff") format('woff'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Demi.ttf") format('truetype');
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.eot");
  src: local('/fonts/AvenirNextCyr/AvenirNextCyrThinItalic'), local('/fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic'), url("/fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.eot?#iefix") format('embedded-opentype'), url("/fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.woff") format('woff'), url("/fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.ttf") format('truetype');
  font-weight: 100;
  font-style: italic
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr/AvenirNextCyr-Italic.eot");
  src: local('/fonts/AvenirNextCyr/AvenirNextCyrItalic'), local('/fonts/AvenirNextCyr/AvenirNextCyr-Italic'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Italic.eot?#iefix") format('embedded-opentype'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Italic.woff") format('woff'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.eot");
  src: local('/fonts/AvenirNextCyr/AvenirNextCyrHeavyItalic'), local('/fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic'), url("/fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.eot?#iefix") format('embedded-opentype'), url("/fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.woff") format('woff'), url("/fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.ttf") format('truetype');
  font-weight: 900;
  font-style: italic
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.eot");
  src: local('/fonts/AvenirNextCyr/AvenirNextCyrMediumItalic'), local('/fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic'), url("/fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.eot?#iefix") format('embedded-opentype'), url("/fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.woff") format('woff'), url("/fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.ttf") format('truetype');
  font-weight: 500;
  font-style: italic
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.eot");
  src: local('/fonts/AvenirNextCyr/AvenirNextCyrLightItalic'), local('/fonts/AvenirNextCyr/AvenirNextCyr-LightItalic'), url("/fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.eot?#iefix") format('embedded-opentype'), url("/fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.woff") format('woff'), url("/fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.ttf") format('truetype');
  font-weight: 300;
  font-style: italic
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot");
  src: local('/fonts/AvenirNextCyr/AvenirNextCyrMedium'), local('/fonts/AvenirNextCyr/AvenirNextCyr-Medium'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot?#iefix") format('embedded-opentype'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff") format('woff'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'AvenirNextCyrUltra';
  src: url("/fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.eot");
  src: local('/fonts/AvenirNextCyr/AvenirNextCyrUltraLightItalic'), local('/fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt'), url("/fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.eot?#iefix") format('embedded-opentype'), url("/fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.woff") format('woff'), url("/fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.ttf") format('truetype');
  font-weight: 200;
  font-style: italic
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot");
  src: local('/fonts/AvenirNextCyr/AvenirNextCyrRegular'), local('/fonts/AvenirNextCyr/AvenirNextCyr-Regular'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot?#iefix") format('embedded-opentype'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff") format('woff'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'AvenirNextCyrUltra';
  src: url("/fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.eot");
  src: local('/fonts/AvenirNextCyr/AvenirNextCyrUltraLight'), local('/fonts/AvenirNextCyr/AvenirNextCyr-UltraLight'), url("/fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.eot?#iefix") format('embedded-opentype'), url("/fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.woff") format('woff'), url("/fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.ttf") format('truetype');
  font-weight: 200;
  font-style: normal
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr/AvenirNextCyr-Heavy.eot");
  src: local('/fonts/AvenirNextCyr/AvenirNextCyrHeavy'), local('/fonts/AvenirNextCyr/AvenirNextCyr-Heavy'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Heavy.eot?#iefix") format('embedded-opentype'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Heavy.woff") format('woff'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Heavy.ttf") format('truetype');
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot");
  src: local('/fonts/AvenirNextCyr/AvenirNextCyrBold'), local('/fonts/AvenirNextCyr/AvenirNextCyr-Bold'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot?#iefix") format('embedded-opentype'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff") format('woff'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.eot");
  src: local('/fonts/AvenirNextCyr/AvenirNextCyrDemiItalic'), local('/fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic'), url("/fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.eot?#iefix") format('embedded-opentype'), url("/fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.woff") format('woff'), url("/fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.ttf") format('truetype');
  font-weight: bold;
  font-style: italic
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr/AvenirNextCyr-Thin.eot");
  src: local('/fonts/AvenirNextCyr/AvenirNextCyrThin'), local('/fonts/AvenirNextCyr/AvenirNextCyr-Thin'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Thin.eot?#iefix") format('embedded-opentype'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Thin.woff") format('woff'), url("/fonts/AvenirNextCyr/AvenirNextCyr-Thin.ttf") format('truetype');
  font-weight: 100;
  font-style: normal
}

header {
  border-bottom: 7px solid #1e3e6f
}

header .bground {
  background-image: url("/img/header/bground.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 200px
}

header .navbar .navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  float: none;
  margin: 20px 0
}

header .navbar .navbar-header .navbar-toggle {
  position: absolute;
  top: -5px;
  left: 0;
  margin: 0;
  padding: 0
}

header .navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: #000
}

header .navbar .navbar-header .navbar-brand {
  height: auto;
  padding: 0;
  text-align: center
}

header .navbar .navbar-header .navbar-brand img {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

header .navbar .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%
}

header .navbar .navbar-nav::after, header .navbar .navbar-nav::before {
  display: none
}

header .navbar .navbar-nav li a {
  padding: 0;
  font-weight: 500;
  color: #000
}

header .navbar .navbar-nav li a:focus, header .navbar .navbar-nav li a:hover {
  background: none
}

@media (max-width:991px) {
  header .navbar .navbar-nav li a {
    text-align: center;
    font-size: 12px
  }
}

@media (max-width:767px) {
  header .navbar .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  header .navbar .navbar-nav li {
    margin-bottom: 10px
  }
  header .navbar .navbar-nav li a {
    text-align: left
  }
}

footer {
  background-color: #1e3e6f
}

footer nav {
  margin: 20px 0 40px
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

footer nav ul li:first-child {
  margin-left: 30px
}

footer nav ul li a {
  font-weight: 500;
  color: #fff !important
}

footer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px
}

footer .bottom .logo {
  display: inline-block
}

footer .bottom .logo img {
  -webkit-filter: invert(1);
  filter: invert(1)
}

footer .bottom .up {
  -ms-flex-item-align: baseline;
  align-self: baseline;
  display: inline-block;
  width: 27px;
  height: 17px;
  background-image: url("/img/footer/up.png");
  background-repeat: no-repeat;
  background-size: cover
}

footer .bottom .social li {
  float: left;
  margin-left: 20px
}

footer .bottom .social li:first-child {
  margin-left: 0
}

footer .bottom .social li a {
  display: inline-block;
  width: 40px;
  height: 39px;
  background-repeat: no-repeat !important;
  background-size: cover !important
}

footer .bottom .social li a.vk {
  background-image: url("/img/footer/vk.png")
}

footer .bottom .social li a.inst {
  background-image: url("/img/footer/inst.png")
}

footer .bottom .social li a.fb {
  background-image: url("/img/footer/fb.png")
}

@media (max-width:992px) {
  footer nav ul li:first-child {
    margin-left: 0
  }
}

@media (max-width:991px) {
  footer nav ul li a {
    font-size: 12px
  }
}

@media (max-width:767px) {
  footer nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  footer nav ul li {
    margin-bottom: 10px
  }
  footer nav ul li:first-child {
    margin-left: 0
  }
  footer .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  footer .bottom .up {
    -ms-flex-item-align: auto;
    align-self: auto;
    margin: 30px 0
  }
}

aside {
  height: 100%;
  padding-top: 20px;
  background-color: #1e3e6f
}

aside .user-photo {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
  border-radius: 50%
}

aside .user-photo img {
  height: 100%;
  border: 3px solid #fff;
  border-radius: 50%
}

aside nav ul {
  margin-bottom: 0;
  padding-left: 30px !important
}

aside nav ul li {
  margin-bottom: 9px
}

aside nav ul li:last-child {
  margin-bottom: 0
}

aside nav ul li.active {
  position: relative
}

aside nav ul li.active::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -18px;
  width: 12px;
  height: 17px;
  background-image: url("/img/main/active.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

aside nav ul li a {
  font-weight: 500;
  color: #fff
}

aside nav ul li a:active, aside nav ul li a:focus, aside nav ul li a:hover {
  color: #fff;
  text-decoration: none !important
}

main {
  margin: 20px 0 70px
}

main .box-shadow {
  -webkit-box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.35)
}

main .box-shadow .df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

main .box-shadow .npl {
  padding-left: 0
}

main .box-shadow .npr {
  padding-right: 0
}

main .box-shadow .adm-panel {
  padding: 15px 15px 20px 0
}

main .box-shadow .adm-panel .top .pleft p {
  display: inline-block
}

main .box-shadow .adm-panel .top .pleft input {
  margin-left: 40px;
  padding: 5px 0 5px 40px;
  vertical-align: top;
  outline: none;
  border: 0;
  background-image: url("/img/main/search.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: left center
}

main .box-shadow .adm-panel .top .pright p {
  display: inline-block;
  line-height: normal
}

main .box-shadow .adm-panel .top .pright span {
  vertical-align: top
}

main .box-shadow .adm-panel .top .pright span#now-time {
  font-size: 40px
}

main .box-shadow .adm-panel .forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 5px
}

main .box-shadow .adm-panel .forecast .npr .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: right;
  padding: 5px 5px 0
}

main .box-shadow .adm-panel .forecast .npr .card select {
  margin-bottom: 7px;
  padding-right: 20px;
  -webkit-appearance: none;
  overflow: hidden;
  outline: none;
  border: 0;
  background: none;
  background-image: url("/img/main/appear.png");
  background-repeat: no-repeat;
  background-position: right center;
  font-weight: 600
}

main .box-shadow .adm-panel .forecast .card {
  padding: 7px 0 20px
}

main .box-shadow .adm-panel .forecast .card table {
  margin-bottom: 0
}

main .box-shadow .adm-panel .forecast .card table tr td.big {
  font-size: 20px
}

main .box-shadow .adm-panel .forecast .card table tr td.green {
  color: #00990b
}

main .box-shadow .adm-panel article {
  display: none
}

main .box-shadow .adm-panel article[data-page="page1"] {
  display: block
}

main .box-shadow .adm-panel article[data-page="page1"] .equal-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

main .box-shadow .adm-panel article[data-page="page1"] .equal-h .card {
  margin-bottom: 35px
}

main .box-shadow .adm-panel article[data-page="page1"] .equal-h .card table tbody tr:hover {
  background: #eaeaea
}

main .box-shadow .adm-panel article[data-page="page1"] .equal-h .card table tbody tr td:nth-child(2) {
  text-align: right
}

main .box-shadow .adm-panel article[data-page="page1"] .equal-h .card .pbottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around
}

main .box-shadow .adm-panel article[data-page="page1"] .equal-h .card .pbottom .btn1 {
  width: 45%;
  padding: 2px 10px;
  text-align: center
}

main .box-shadow .adm-panel article[data-page="page2"] .card {
  padding: 7px 15px 13px
}

main .box-shadow .adm-panel article[data-page="page2"] .card.calculator {
  margin-bottom: 15px
}

main .box-shadow .adm-panel article[data-page="page2"] .card.calculator form label {
  white-space: nowrap
}

main .box-shadow .adm-panel article[data-page="page2"] .card.calculator form input {
  border: 1px solid #ababab;
  border-radius: 0;
  background: none;
  color: #000
}

main .box-shadow .adm-panel article[data-page="page2"] .card.calculator form input::-webkit-input-placeholder {
  color: #ababab
}

main .box-shadow .adm-panel article[data-page="page2"] .card.calculator form input:-ms-input-placeholder {
  color: #ababab
}

main .box-shadow .adm-panel article[data-page="page2"] .card.calculator form input::-ms-input-placeholder {
  color: #ababab
}

main .box-shadow .adm-panel article[data-page="page2"] .card.calculator form input::placeholder {
  color: #ababab
}

main .box-shadow .adm-panel article[data-page="page2"] .card.calculator form select {
  width: 100%;
  padding: 6px 12px;
  -webkit-appearance: none;
  border: 1px solid #ababab;
  border-radius: 0;
  background: none;
  background-image: url("/img/main/appear.png");
  background-repeat: no-repeat;
  background-position: 98% center;
  color: #000
}

main .box-shadow .adm-panel article[data-page="page2"] .card.calculator form button {
  padding: 2px 30px;
  border: 0;
  background-color: #a8a8a8;
  color: #000
}

main .box-shadow .adm-panel article[data-page="page2"] .card.contracts table {
  margin-left: -5px
}

main .box-shadow .adm-panel article[data-page="page2"] .card.contracts table.tbl tr td:nth-child(2) {
  text-align: right
}

main .box-shadow .adm-panel article[data-page="page2"] .card.contracts table.tbl tr:hover {
  background: #eaeaea
}

main .box-shadow .adm-panel article[data-page="page2"] .card.contracts table.tbl2 thead tr th {
  vertical-align: top
}

main .box-shadow .adm-panel article[data-page="page2"] .card.contracts table.tbl2 tbody tr {
  margin-bottom: 7px;
  background: #eaeaea
}

main .box-shadow .adm-panel article[data-page="page2"] .card.contracts table.tbl2 tbody tr.spacer {
  background: none
}

main .box-shadow .adm-panel article[data-page="page2"] .card.contracts .pbottom {
  position: static
}

main .box-shadow .adm-panel article[data-page="page2"] .card.contracts .pbottom p {
  display: inline-block
}

main .box-shadow .adm-panel article[data-page="page2"] .card.contracts .pbottom p .fw6 {
  font-weight: 600
}

main .box-shadow .adm-panel article[data-page="page3"] .card {
  margin-bottom: 20px
}

main .box-shadow .adm-panel article[data-page="page3"] .card .ptop a {
  font-weight: 600;
  color: #989898
}

main .box-shadow .adm-panel article[data-page="page3"] .card .ptop a.active {
  color: #000
}

main .box-shadow .adm-panel article[data-page="page3"] .card .ptop a.active:hover {
  text-decoration: none !important
}

main .box-shadow .adm-panel article[data-page="page3"] .card .ptop>a:first-child {
  margin-right: 10px
}

main .box-shadow .adm-panel article[data-page="page3"] .card .pbottom {
  position: static;
  margin: 15px 0 10px
}

main .box-shadow .adm-panel article[data-page="page3"] .card p.change {
  float: right;
  font-weight: 600
}

main .box-shadow .adm-panel article[data-page="page3"] .card p.change a {
  color: #989898
}

main .box-shadow .adm-panel article[data-page="page3"] .card p.change a.active {
  color: #000
}

main .box-shadow .adm-panel article[data-page="page3"] .card p.change a.active:hover {
  text-decoration: none !important
}

main .box-shadow .adm-panel article[data-page="page3"] .card table {
  margin: 0
}

main .box-shadow .adm-panel article[data-page="page3"] .card table[data-table="table2"], main .box-shadow .adm-panel article[data-page="page3"] .card table[data-table="table4"] {
  display: none
}

main .box-shadow .adm-panel article[data-page="page3"] .card table tr th {
  vertical-align: top;
  text-align: center
}

main .box-shadow .adm-panel article[data-page="page3"] .card table tr td {
  text-align: center
}

main .box-shadow .adm-panel article[data-page="page3"] .card table tbody tr:nth-child(even) {
  background: #eaeaea
}

@media (max-width:767px) {
  main .box-shadow .adm-panel article[data-page="page3"] .card p.change {
    float: none;
    margin-top: 15px
  }
}

main .box-shadow .adm-panel article[data-page="page4"] .card {
  margin-bottom: 20px
}

main .box-shadow .adm-panel article[data-page="page4"] .card .ptop p {
  font-weight: 600
}

main .box-shadow .adm-panel article[data-page="page4"] .card table {
  margin: 0 0 25px
}

main .box-shadow .adm-panel article[data-page="page4"] .card table tr td, main .box-shadow .adm-panel article[data-page="page4"] .card table tr th {
  text-align: center
}

main .box-shadow .adm-panel article[data-page="page4"] .card table tbody tr:nth-child(even) {
  background: #eaeaea
}

main .box-shadow .adm-panel article[data-page="page4"] .card .pbottom {
  position: static
}

main .box-shadow .adm-panel article[data-page="page5"] .requisites .on-edge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

main .box-shadow .adm-panel article[data-page="page5"] .requisites .on-edge p {
  display: inline-block;
  width: 50%
}

main .box-shadow .adm-panel article[data-page="page5"] .requisites .mb {
  margin-bottom: 23px
}

main .box-shadow .adm-panel article[data-page="page5"] .bank-cart {
  padding-left: 15px
}

main .box-shadow .adm-panel article[data-page="page6"] .support hr {
  border-top: 2px solid #d8d8d8
}

main .box-shadow .adm-panel article[data-page="page6"] .support hr.mt {
  margin-top: 10px !important
}

main .box-shadow .adm-panel article[data-page="page6"] .support select {
  width: auto;
  margin-bottom: 15px;
  padding: 8px 60px 8px 12px;
  border: 1px solid #c2c2c2;
  -webkit-appearance: none;
  background: none;
  background-image: url("/img/main/appear2.png");
  background-repeat: no-repeat;
  background-position: 90% center
}

main .box-shadow .adm-panel article[data-page="page6"] .support textarea {
  width: 100%;
  margin: 15px 0;
  resize: none
}

main .box-shadow .adm-panel article[data-page="page6"] .support button {
  float: right;
  padding: 2px 30px;
  border: 0;
  background-color: #a8a8a8;
  color: #000
}

main .box-shadow .adm-panel article[data-page="page7"]>div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: inherit;
  -ms-flex-align: inherit;
  align-items: inherit
}

main .box-shadow .adm-panel article[data-page="page7"] .settings {
  height: 100%
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form {
  height: 100%
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group label {
  font-weight: 500
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group label[for="male"] {
  margin-right: 10px
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group input {
  width: 220px;
  padding: 6px;
  border: 1px solid #cdd0d4;
  border-radius: 1px
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group input#birthday, main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group input#birthyear {
  width: 40px
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group input#birthmonth {
  width: 80px
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group .error {
  position: absolute;
  right: 0;
  bottom: -30px;
  color: #ff2626
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group .error a {
  color: #b8b8b8;
  text-decoration: underline !important
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group .change {
  position: absolute;
  right: -80px;
  text-decoration: underline;
  color: #000
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group .change:hover {
  text-decoration: none !important
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group input[type="radio"] {
  display: none
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group input[type="radio"]+label {
  width: auto;
  cursor: pointer
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group input[type="radio"]+label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -2px 10px 0 0;
  vertical-align: bottom;
  border: 1px solid #a8a8a8;
  border-radius: 50px;
  cursor: pointer
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group input[type="radio"]:checked+label span {
  background: url("/img/main/checked.png") center no-repeat;
  background-size: 80%
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form .pbottom {
  position: absolute;
  bottom: 18px;
  left: 0;
  right: 0
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form .pbottom button {
  padding: 2px 20px;
  border: 0;
  border-radius: 0;
  background-color: #a8a8a8;
  color: #000
}

main .box-shadow .adm-panel article[data-page="page7"] .settings form .pbottom button:first-child {
  margin-right: 10px
}

@media (max-width:1199px) {
  main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group {
    display: block
  }
  main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group input {
    width: 100%
  }
  main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group input#birthday, main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group input#birthyear {
    width: 50%
  }
  main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group input#birthmonth {
    width: 100%;
    margin: 20px 0
  }
  main .box-shadow .adm-panel article[data-page="page7"] .settings form .form-group .change {
    right: 0
  }
}

main .box-shadow .adm-panel article[data-page="page7"] .bank-cart {
  height: 100%;
  padding-left: 15px
}

main .box-shadow .adm-panel article[data-page="page7"] .bank-cart form .pbottom {
  position: static;
  margin: 12px 0 5px
}

main .box-shadow .adm-panel article[data-page="page7"] .bank-cart form .pbottom button {
  padding: 2px 20px;
  border: 0;
  border-radius: 0;
  background-color: #a8a8a8;
  color: #000
}

main .box-shadow .adm-panel article[data-page="page7"] .bank-cart form .pbottom button:first-child {
  margin-right: 10px
}

@media (max-width:991px) {
  main .box-shadow .adm-panel article[data-page="page7"]>div.row {
    display: block
  }
  main .box-shadow .adm-panel article[data-page="page7"]>div.row .settings {
    margin-bottom: 30px
  }
  main .box-shadow .adm-panel article[data-page="page7"]>div.row .settings form .pbottom {
    position: static
  }
}

@media (max-width:991px) {
  main .df {
    display: block !important
  }
  main .sidebar {
    padding-right: 0
  }
  main .sidebar nav ul {
    padding-bottom: 30px
  }
  main .box-shadow section {
    padding: 15px 15px 20px
  }
  main .box-shadow section .top .pleft {
    padding-left: 30px
  }
  main .box-shadow section .top .pright {
    margin-top: 15px;
    padding-left: 30px
  }
  main .box-shadow section .top .pright p #now-time {
    margin-right: 10px
  }
  main .box-shadow section .top .pright p #balance {
    margin-right: 20px
  }
  main .box-shadow section .forecast {
    display: block !important;
    margin-left: 0;
    margin-bottom: 20px !important
  }
  main .box-shadow section .forecast .npr {
    margin-bottom: 15px;
    padding-right: 15px
  }
  main .box-shadow section article {
    padding-left: 15px
  }
}

@media (max-width:767px) {
  main {
    margin: 0
  }
  main .box-shadow section .top .pleft input {
    width: 100%;
    margin-left: 0 !important
  }
}

body {
  min-height: 100vh;
  padding-top: 20px;
  background: #fff;
  color: #000;
  font-family: 'Avenir Next Cyr';
  font-weight: 300;
  font-style: normal
}

img {
  max-width: 100%;
  height: auto
}

h5 {
  font-weight: 600
}

a:focus, a:hover {
  background: none;
  text-decoration: none
}

a:active, a:hover {
  text-decoration: underline !important
}

.btn1 {
  padding: 3px 10px;
  background-color: #a8a8a8;
  font-weight: 500;
  color: #000;
  text-decoration: none !important
}

.table-overflow {
  overflow: auto !important
}

.table-overflow-x {
  overflow-x: auto;
  overflow-y: hidden
}

table {
  margin-bottom: 45px
}

table thead th {
  border: 0 !important
}

table tbody tr td {
  border: 0 !important;
  font-weight: 400
}

table tbody tr.spacer {
  height: 10px
}

.dfi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding-top: 18px
}

.dfi .btn-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.dfi .btn-scroll a {
  display: inline-block;
  width: 19px;
  height: 11px;
  background-image: url("/img/main/appear2.png");
  background-repeat: no-repeat;
  -webkit-filter: opacity(50%);
  filter: opacity(50%)
}

.dfi .btn-scroll a.scroll-top {
  margin-top: 10px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.dfi .btn-scroll a.scroll-bottom {
  margin-bottom: 15px
}

.dfi .btn-scroll a:hover {
  -webkit-filter: none;
  filter: none
}

.card {
  position: relative;
  height: 85%;
  padding: 7px 10px 13px;
  -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.35)
}

.card .pbottom {
  position: absolute;
  bottom: 10px;
  left: 5px;
  right: 5px
}

.card.bank-cart {
  border-radius: 10px
}

.card.bank-cart form .form-group label {
  margin-top: 12px;
  font-weight: 400;
  color: #a8a8a8
}

.card.bank-cart form .form-group input {
  padding: 6px;
  border: 1px solid #ababab;
  border-radius: 1px;
  color: #000
}

.card.bank-cart form .form-group input::-webkit-input-placeholder {
  color: #000
}

.card.bank-cart form .form-group input:-ms-input-placeholder {
  color: #000
}

.card.bank-cart form .form-group input::-ms-input-placeholder {
  color: #000
}

.card.bank-cart form .form-group input::placeholder {
  color: #000
}

.card.bank-cart form .form-group input#validity-month, .card.bank-cart form .form-group input#validity-year {
  width: 50px;
  text-align: center
}

.card.bank-cart form .form-group input#validity-month::-webkit-input-placeholder, .card.bank-cart form .form-group input#validity-year::-webkit-input-placeholder {
  text-align: center
}

.card.bank-cart form .form-group input#validity-month:-ms-input-placeholder, .card.bank-cart form .form-group input#validity-year:-ms-input-placeholder {
  text-align: center
}

.card.bank-cart form .form-group input#validity-month::-ms-input-placeholder, .card.bank-cart form .form-group input#validity-year::-ms-input-placeholder {
  text-align: center
}

.card.bank-cart form .form-group input#validity-month::placeholder, .card.bank-cart form .form-group input#validity-year::placeholder {
  text-align: center
}

.card.bank-cart form .form-group input#family, .card.bank-cart form .form-group input#name {
  text-transform: uppercase
}

.card.bank-cart form .form-group .division {
  display: inline-block;
  margin: 0 10px
}

.card.bank-cart form .form-group .required {
  color: #ff2626
}

.card.bank-cart form .form-group.form-inline input[type="radio"] {
  display: none
}

.card.bank-cart form .form-group.form-inline input[type="radio"]+label {
  width: auto;
  cursor: pointer
}

.card.bank-cart form .form-group.form-inline input[type="radio"]+label .indicator-select {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 0 0 30px;
  vertical-align: bottom;
  border: 1px solid #000;
  border-radius: 50px;
  cursor: pointer
}

.card.bank-cart form .form-group.form-inline input[type="radio"]:checked+label .indicator-select {
  background: url("/img/main/checked.png") center no-repeat;
  background-size: 80%
}

.card.bank-cart form .form-group.form-inline input[type="radio"]:checked+label>div {
  -webkit-filter: none;
  filter: none
}

.card.bank-cart form .form-group.form-inline label {
  margin-right: 7px
}

.card.bank-cart form .form-group.form-inline label:last-child {
  margin-right: 0
}

.card.bank-cart form .form-group.form-inline label div {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
  -webkit-filter: grayscale(1);
  filter: grayscale(1)
}

.card.bank-cart form .form-group.form-inline label.mastercard div {
  background-image: url("/img/main/mastercard.png")
}

.card.bank-cart form .form-group.form-inline label.maestro div {
  background-image: url("/img/main/maestro.png")
}

.card.bank-cart form .form-group.form-inline label.visa div {
  background-image: url("/img/main/visa.png")
}

.card.bank-cart form .form-group.form-inline label.americane div {
  background-image: url("/img/main/americane.png")
}

.card.bank-cart form .form-group.form-inline label.mir div {
  background-image: url("/img/main/mir.png")
}

.card.bank-cart form p {
  margin-bottom: 0;
  font-weight: 400;
  color: #ababab
}

@media (max-width:1199px) {
  .card.bank-cart form .form-group label {
    margin-top: 0
  }
  .card.bank-cart form .form-group input {
    width: 100%;
    margin-bottom: 15px
  }
  .card.bank-cart form .form-group input#validity-month, .card.bank-cart form .form-group input#validity-year {
    width: 50px
  }
  .card.bank-cart form .form-group .division {
    vertical-align: super
  }
}

@media (max-width:991px) {
  .card.bank-cart {
    margin-top: 15px
  }
  .card.bank-cart form .form-group input#validity-month, .card.bank-cart form .form-group input#validity-year {
    display: inline-block
  }
}


/* zhuharev */

#myNavbar > ul > li > a.abtn {
  border: 1px solid;
  padding: 0 10px;
}

.btn {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}
